///////////
// PARTIALS
///////////

@import 'partials/_reset.sass'
@import 'partials/_mixins.sass'
@import 'partials/_variables.sass'
@import 'partials/_typography.sass'
@import 'partials/_components.sass'
@import 'libraries/selectric.css'

/////////
// STYLE
/////////


// Header

.main
    @include bg($grey)
    min-height: 100vh


    // HEADER

    // Underline the right link in nav
    &.js-analyse-view
        header nav ul li:first-child a::after
            position: absolute
            bottom: -15px
            content: ''
            @include block
            @include bg($secondary)
            width: 100%
            height: 4px

    &.js-admin-view
        header nav ul li:last-child a::after
            position: absolute
            bottom: -15px
            content: ''
            @include block
            @include bg($secondary)
            width: 100%
            height: 4px
    
    header
        overflow: hidden
        @include flex
        @include spaceBetween
        @include alignEnd
        width: 100%
        @include bg($white)
        padding: 15px 80px

        #logo
            display: block
            width: 250px

        nav
            width: 300px
            ul
                @include flex
                @include spaceBetween
                li 
                    position: relative
                    a
                        font-family: $font-special-bold
                        @include fontsize(20)
                        color: $primary
                        @include transition(color .2s ease-in-out)

                        &:hover
                            color: $secondary


    section
        @include box-shadow(10px 9px 16px -10px rgba(0,0,0,0.15))
        @include border-radius(30px)
        max-width: 1280px
        padding: 20px
        margin: 40px auto
        @include bg($white)
        text-align: center


    // SELECTOR
        
    &.js-admin-view
        .one-csv-selector
            border: solid 2px $primary
            color: $primary
            &.selected
                @include bg($primary)    

    &.analyse-view--geo
        .one-csv-selector
            border: solid 2px $secondary
            color: $secondary
            &.selected
                @include bg($secondary)
    
    &.analyse-view--graph
        .one-csv-selector
            border: solid 2px $primary
            color: $primary
            &.selected
                @include bg($primary)

    .csv-selector
    
        .container-selector
            margin: 0 auto
            
            .one-csv-selector
                margin: 0 2px
                padding: 5px 20px
                @include border-radius(30px)
                @include fontsize(12)
                cursor: pointer
                @include transition(all .4s ease-in-out)

                &.selected
                    color: $white
            
        #nameCSV
            margin: 40px 0
        
        input#nameCSV
            @include fontsize(36)
            font-family: $font-special-bold
            text-align: center
            border: 0
            border-bottom: 2px solid $darkgrey
            @include transition(all .2s ease-in-out)
            
            &:focus
                outline: 0
                color: $darkgrey
    

    // PANEL

    
    .panel
        @include flex
        height: 500px
        
        .left
            overflow: hidden
            width: 70%
            .ng-scope, #map
                height: 100%
            
            #map
                @include border-radius(30px)
                width: 100%
                height: 100%!important
                overflow: hidden

        .right
            width: 30%
            padding: 0 20px

            .filters-container
                @include flex
                @include column
                @include justifyCenter
                @include alignCenter
                height: 100%
                
                // Custom Selects

                .selectric-wrapper
                    width: 250px
                    margin: 20px 0

                    .selectric
                        padding: 10px 8px
                        @include fontsize(13)

                        button
                            position: absolute
                            right: 10px


        // PANEL IMPORT CSV


        &.panel--import-csv
            height: 300px
            @include flex
            @include alignCenter

            // .container-dragndrop
            //     width: 100%
            //     height: 100%
            //     @include flex
            //     @include alignCenter
            //     @include justifyCenter
            //     @include column
            //     border: dashed 4px $darkgrey
            //     @include border-radius(30px)

            //     img
            //         width: 100px
            //         margin: 0 auto
            //         opacity: .5

            //     p
            //         margin-top: 20px
            //         @include fontsize(13)
            //         font-weight: bold
            //         opacity: .5

            [type="file"] 
                height: 0.1px
                width: 0.1px
                opacity: 0
                overflow: hidden
                position: absolute
                z-index: -1
                
                + label 
                    background-color: $primary
                    color: $white
                    cursor: pointer
                    display: inline-block
                    font-size: 1.25rem
                    font-weight: 700
                    overflow: hidden
                    padding: 0.625rem 1.25rem
                    text-overflow: ellipsis
                    white-space: nowrap
                    margin: 0 auto
                    height: 40px
                    
                    svg
                        fill: currentColor
                        height: 1em
                        width: 1em
                        margin-top: -0.25em
                        margin-right: 0.25em
                        vertical-align: middle
                    
                    
                    &:hover 
                        background-color: lighten($primary, 10%)
                    
                
                
                &:focus + label 
                    background-color: darken($primary, 10%)
                    outline: 1px dotted #000
                
                        
    footer
        @include bg($white)
        @include fontsize(12)
        padding: 10px
        text-align: center

        a
            font-weight: bold

            &:first-child
                color: $primary
            &:last-child
                color: $secondary
                








        
