//
//
// Components style
//
//



//
//
// Titles Style
//
//



//
//
// SWITCH
//
//

.one-switch
    @include flex
    @include alignCenter
    @include justifyCenter
    // SWITCH
    .switch 
        position: relative
        display: inline-block
        width: 60px
        height: 26px
        /* Hide default HTML checkbox */
        input 
            @include none

            &:checked + .slider 
                @include bg($primary)
        
            &:focus + .slider 
                @include box-shadow(0 0 1px $black)
        
            &:checked + .slider:before 
                @include transform(translateX(32px))

        .slider 
            position: absolute
            cursor: pointer
            top: 0
            left: 0
            right: 0
            bottom: 0
            @include bg($secondary)
            @include transition(all .4s ease-in-out)
            @include border-radius(30px)
            
            &::before 
                position: absolute
                content: ''
                height: 19px
                width: 19px
                left: 4px
                bottom: 4px
                background-color: white
                @include transition(all .4s ease-in-out)
                @include border-radius(50%)

    .title
        text-transform: uppercase
        color: $darkgrey
        @include fontsize(12)
        @include transition(all .4s ease-in-out)
        &.title--right
            margin-left: 20px
        &.title--left
            margin-right: 20px


.analyse-view--geo
    .one-switch
        .title
            &.title--left
                color: $secondary

.analyse-view--graph
    .one-switch
        .title
            &.title--right
                color: $primary
