//
//
// Typo Style
//
//

//
// Font-face inludes
//

@font-face 
  font-family: "Aileron-Reg"
  src: url("../fonts/aileron-regular.woff")

@font-face 
  font-family: "Aileron-Bold"
  src: url("../fonts/aileron-bold.woff")

@font-face 
  font-family: "Helvetica"
  src: url("../fonts/helvetica.woff")


//
// Styles
//

//EM Basis
$em: 16px

//
//Typos
//

$font-base: Helvetica, Arial, sans-serif
$font-special: Aileron-Reg, Helvetica, Arial, sans-serif
$font-special-bold: Aileron-Bold, Helvetica, Arial, sans-serif

*
  font-family: $font-base

body
  font-size: $em
  color: $black


p
  font-size: 1.3em
  line-height: 1.4em
  font-family: $font-base


//.thin
//  font-family: ...
//
//
//.bold
//  font-family: ...
//
//
//.semibold
//  font-family: ...
//
//

.bold
  font-weight: bold


.italic
  font-style: italic


.uppercase
  text-transform: uppercase


strong
  @extend .bold


u
  text-decoration: underline


em
  @extend .italic


h1
  font-family: $font-special-bold
  @include fontsize(48)
  
h2
  font-family: $font-special-bold
  @include fontsize(36)

h3
  font-family: $font-special-bold
  @include fontsize(24)

h4
  font-family: $font-special-bold
  @include fontsize(18)

.small
  @include fontsize(11)
