<!--
Class for Admin:
  js-admin-view
-->
<div class="main {{ admin.infos.class }}" ng-controller="AdminCtrl as admin">
    
    <!-- HEADER -->
    <app-header></app-header>
  
    <!-- [ADMINISTRATION] SELECTOR CSV (Checkboxes & Edition) -->
    <section class="csv-selector csv-selector--admin">
        <div class="container-selector">
            <span class="one-csv-selector" ng-repeat="data in admin.data" ng-click="admin.setCurrent(data)" ng-class="{ selected:admin.current == data }">{{ data.name }}</span>
        </div>
        
        <input type="text" id="nameCSV" value="{{ admin.current.name }}" ng-model="admin.current.name"/>
        
        <p id="contentCSV" ng-if="admin.current.nbCandidatures">Ce fichier contient <strong>{{ admin.current.nbCandidatures }} candidatures</strong>.</p>
        <p id="contentCSV" ng-if="!admin.current.nbCandidatures"><strong>Aucun fichier de chargé</strong>.</p>
    </section>

    <!-- [ADMINISTRATION] PANEL IMPORT CSV -->
    <section class="panel panel--import-csv">
    <!-- <div class="container-dragndrop">
        <img src="images/dragndrop-icon.png" alt="Drag'n Drop">
        <p>Déposez votre fichier .csv ici</p>
    </div> -->
        <input id="upload" type="file" ng-model="admin.current" onchange="angular.element(this).scope().admin.fileDetected(this)">
        <label for="upload">
    
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
            </svg>
            
            <span>Choisissez un fichier</span>
            
        </label>
    </section>

    <app-footer></app-footer>
    
</div>