<!--
Classes for Analyse:
  js-analyse-view analyse-view--geo
  OR
  js-analyse-view analyse-view-graph
-->
<div class="main {{ analyse.infos.class }} {{ analyse.currentClass }}" ng-controller="AnalyseCtrl as analyse">
    
    <!-- HEADER -->
    <app-header></app-header>


    <!-- [ANALYSE] SELECTOR CSV (Checkboxes) -->
    <section class="csv-selector csv-selector--analyse">
        <div class="container-selector">
            <span class="one-csv-selector" ng-repeat="data in analyse.data" ng-click="analyse.setCurrent(data)" ng-class="{ selected:analyse.current == data }">{{ data.name }}</span>
        </div>
        
        <h2 id="nameCSV">{{ analyse.current.name }}</h2>

        <div class="switch-container">
            <div class="one-switch">
            <span class="title title--left">Analyse Géographique</span>
            <label class="switch js-switch">
                <input type="checkbox" class="{{ analyse.currentType }}" ng-click="analyse.setCurrentType()" >
                <span class="slider"></span>
            </label>
            <span class="title title--right">Analyse Graphique</span>
        </div>
    </section>

    <!-- [ANALYSE] PANEL ANALYSE GEO / GRAPH -->
    <analyse-geo ng-show="analyse.currentType == 'geo'"></analyse-geo>
    <analyse-graph ng-show="analyse.currentType == 'graph'"></analyse-graph>

    <script type="text/javascript-lazy">
        console.log("It works!");
    </script>


    <!-- FOOTER -->    
    <app-footer></app-footer>
  
</div>