<section class="panel panel--geo">
    <div class="left">
        <div ng-controller="MapCtrl as map" map-lazy-load="https://maps.google.com/maps/api/js"
            map-lazy-load-params="{{ map.googleMapsUrl }}">
            <p> test {{positionLoaded}}</p>
            <ng-map id="map">
                <!-- https://ngmap.github.io/#/!marker_with_ng_repeat_dynamic.html -->
                <marker ng-if="positionLoaded" ng-repeat="pos in positions" position="{{pos}}">
                </marker>
            </ng-map>
        </div>
    </div>
    <div class="right">
        <h3>Filtres</h3>

        <div class="filters-container">
            <select id="filter-sex" selectric>
                <option value="0" selected>Hommes et femmes</option>
                <option value="2">Hommes</option>
                <option value="3">Femmes</option>
            </select>

            <select id="filter-bac" selectric>
                <option value="0" selected>Toutes les fillières</option>
                <option value="1">Bac L</option>
                <option value="2">Bac S</option>
                <option value="3">Bac ES</option>
                <option value="1">Bac STI2D</option>
            </select>

            <select id="filter-bourse" selectric>
                <option value="0" selected>Boursiers et non boursiers</option>
                <option value="1">Boursier</option>
                <option value="2">Non boursier</option>
            </select>
        </div>
    </div>
</section>