<section class="panel panel--graph">
    <div class="left">
        <div id="graph"></div>
    </div>
    <div class="right">
        <h3>Filtres</h3>

        <div class="filters-container">
            <select id="filter-style" selectric>
                <option value="0" selected>Barres</option>
                <option value="2">Cercles</option>
            </select>

            <select id="filter-sex" selectric>
                <option value="0" selected>Hommes et femmes</option>
                <option value="2">Hommes</option>
                <option value="3">Femmes</option>
            </select>

            <select id="filter-bac" selectric>
                <option value="0" selected>Toutes les fillières</option>
                <option value="1">Bac L</option>
                <option value="2">Bac S</option>
                <option value="3">Bac ES</option>
                <option value="1">Bac STI2D</option>
            </select>

            <select id="filter-bourse" selectric>
                <option value="0" selected>Boursiers et non boursiers</option>
                <option value="1">Boursier</option>
                <option value="2">Non boursier</option>
            </select>
        </div>
    </div>
</section>