<footer>Application développée par <a href="https://florianguiffrey.fr" title="Visiter le site de Florian Guiffrey" target="_blank">Florian Guiffrey</a> & <a href="http://nathanaelnoble.fr" title="Visiter le site de Nathanaël Noble" target="_blank">Nathanaël Noble</a></footer>    