<header>
    <img src="images/postbac-viewer-logo.png" alt="PostBac Viewer" id="logo">
    <nav>
        <ul>
            <li><a href="/#!/analyse">Analyse</a></li>
            <li><a href="/#!/admin">Administration</a></li>
        </ul>
    </nav>
</header>